<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Blogs</h1>
    <%- include('./partials/nav.ejs') %>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach((blog) => { %>
        <h1><%= blog.title %></h1>
        <p><%= blog.role %></p>
        <p><%= blog.age %></p>
      <% }) %>
    <% } else { %>
      <p>No Blogs yet...</p>
    <% } %>
  </body>

</html>





